/* Tabs.css */

/* Gradient Text */
.gradient-text {
  background: linear-gradient(to right, #3bc4f2, #7a69f9, #f26378, #f5833f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Gradient Underline */
.gradient-underline {
  background: linear-gradient(to right, #3bc4f2, #7a69f9, #f26378, #f5833f);
}
