.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    &::before {
      counter-increment: step;
      @apply mr-4 ml-2 inline-block w-4 border-transparent text-right text-neutral-500 content-[counter(step)];
    }
  }
}